{% extends 'layout.html' %}

{% block styles %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" type="text/css">

{% endblock %}

{% block content %}

    <div class="form-wrapper">
      <h2 class="title">Login</h2>

      <form method="POST" action="{{ url_for('login') }}">

          {{ form.csrf_token }}

          <fieldset class="form-field">{{ form.email.label }} {{ form.email }}
            {% if form.email.errors %}
              <ul class="errors">
                {% for error in form.email.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          <fieldset class="form-field">{{ form.password.label }} {{ form.password }}
            {% if form.password.errors %}
              <ul class="errors">
                {% for error in form.password.errors %}
                  <li class="error">
                      <i class="fas fa-exclamation"></i> <span class="error-message">{{ error }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </fieldset>

          {{ form.submit }}


      </form>

      {% for msg in get_flashed_messages() %}
          <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ msg }}
          </div>
      {% endfor %}

        <p>If you are a new user, please <a href="/signup">signup</a> for an account.</p>

    </div>

{% endblock %}